.footer{
    background-color: rgb(0, 0, 0);
    color: white;
    bottom: 0;

     padding: 30px 10px;
     text-align: center;
     font-size: 18px;
 
 }
 .footer span{
     font-weight: bold;
    
     font-size: 30px;
     
  
 }
 
 