.Req {
    border: 1px solid #ddd;
    border-radius: 15px;
}

.Req .card-top {
    width: 100%;
    height: 250px;
}

.Req .card-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.Req .card-info {
    padding: 15px;
    text-align: center;
}


/* The content of card */
.Req .card-info .title {
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.Req .card-info .info {
    color: grey;
    font-size: 12px;
    margin: 10px;
}

.Req .card-info button {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    border: 0;
    padding: 5px 10px;
    margin-top: 20px;
    margin-right: 3px;
    border-radius: 5px;
}


/* I add this style to appear when you haver to the button */

.Req .card-info.button:hover {
    cursor: pointer;
    color: rgb(158, 38, 38);
}